@import "tailwindcss";



body {
  background-color: rgb(82, 17, 17);
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  /* Firefox üçün */
  -ms-overflow-style: none;
  /* IE və Edge üçün */
}

@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  color: #dc2626;
  /* Tailwind red-600 rəngi */
  animation: blink 1.5s step-start infinite;
}